.cartPreview {
  display: none;
  padding: 1rem 1.6rem;
  min-width: 22rem;
  width: max-content;
  background: var(--clr-1);
  border-radius: 0.5rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 600px) {
  .cartPreview {
    display: block;
  }
}
.cartPreview-heading {
  position: relative;
  margin: 1.6rem 0 2.8rem 0;
  font-size: 2.8rem;
}
.cartPreview-heading::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -1.6rem;
  left: 0;
  height: 0.1rem;
  background: var(--clr-text);
}
.cartPreview-item {
  position: relative;
  margin: 0.6rem 0;
}
.cartPreview-item > h3 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}
.cartPreview-itemCost {
  display: flex;
  justify-content: space-between;
  white-space: pre-wrap;
  font-size: 1.6rem;
  text-transform: none;
}
.cartPreview-itemBaseCost {
  white-space: pre;
}
.cartPreview-itemCostTotal {
  white-space: nowrap;
}
.cartPreview-total {
  position: relative;
  margin: 2.8rem 0 1.6rem 0;
  text-align: right;
  white-space: pre-wrap;
}
.cartPreview-total:not(.cartPreview-total-empty)::before {
  content: '';
  position: absolute;
  top: -1.6rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: var(--clr-text);
}
.cartPreview-total-empty {
  font-style: italic;
}
.cartPreview-button {
  margin: 0.3rem 0;
  width: 100%;
  height: 3rem;
  font-size: 1.8rem;
}
