.quantitySelector {
  display: flex;
  align-items: center;
}
.qs-stepButton {
  padding: 0;
  width: 2rem;
  font-weight: 400;
}
.qs-input {
  margin: 0 0.6rem;
  padding: 0.2rem 0.6rem;
  width: 4.5ch;
  font-size: 1.6rem;
  text-align: right;
}
.qs-input::-webkit-outer-spin-button,
.qs-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qs-input[type='number'] {
  -moz-appearance: textfield;
}
