.quantitySelector {
  display: flex;
  align-items: center;
}
.qs-stepButton {
  padding: 0;
  width: 2.2rem;
  display: flex;
  justify-content: center;
}
.qs-input {
  margin: 0 0.6rem;
  padding: 0.2rem 0.6rem;
  width: 3.5ch;
  font-size: max(1.6rem, 16px);
  text-align: right;
}
.qs-input::-webkit-outer-spin-button,
.qs-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qs-input[type='number'] {
  -moz-appearance: textfield;
}
