.home-container {
  padding: 0 1.6rem;
  background: var(--clr-1-dark);
}
.home-container > h1 {
  font-size: 6rem;
  text-align: center;
}
.home-text {
  margin: 2.4rem auto;
  padding: 0 1.6rem;
  max-width: 45ch;
  font-size: 2.3rem;
}
