.productPage-outerContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(60, 60, 60, 0.4);
  scroll-behavior: none;
}
.productPage-innerContainer {
  margin: 2rem;
  padding: 2rem;
  width: 40ch;
  border-radius: 0.5rem;
  background: var(--clr-1);
}
.productPage-dismiss {
  font-size: 3.5rem;
  color: var(--clr-text);
  text-decoration: none;
}
.productPage-dismiss.material-symbols-outlined {
  opacity: 1;
}
.productPage-imgContainer {
  margin-bottom: 1rem;
  height: 30rem;
  max-width: 100%;
  border-radius: 0.3rem;
}
.productPage-imgContainer > img {
  margin: auto;
  padding: 0.6rem;
  display: block;
  height: 100%;
}
.productPage-name {
  font-size: 3rem;
  text-transform: capitalize;
}
.productPage-price {
  margin-top: 0.3rem;
}
.productPage-description {
  margin: 0.9rem 0 1.6rem 0;
  font-size: 2rem;
}
