.productCard {
  padding: 1rem;
  padding-bottom: 1.4rem;
  width: 16.5rem;
  display: flex;
  flex-direction: column;
  background: var(--clr-1);
  border-radius: 0.5rem;
}
.productCard-imgContainer {
  margin-bottom: 1rem;
  height: 13rem;
  border: 3px solid var(--clr-1);
  border-radius: 0.3rem;
}
@media only screen and (min-width: 600px) {
  .productCard {
    width: 22rem;
  }
  .productCard-imgContainer {
    height: 16.5rem;
    /* background: linear-gradient(var(--clr-1-dark), 70%, var(--clr-1) 100%); */
    background: var(--clr-1);
  }
}
.productCard-imgContainer > img {
  margin: auto;
  padding: 0.6rem;
  display: block;
  height: 100%;
}
.productCard > h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
}
.productCard-price {
  font-size: 1.6rem;
}
.productCard-link {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.3rem;
  color: var(--clr-text);
}
@media only screen and (min-width: 600px) {
  .productCard > h3 {
    font-size: 2rem;
  }
}
