.shopping-outerContainer {
  padding: 0 1rem;
  background: var(--clr-1-dark);
}
.shopping-outerContainer > h1 {
  margin: 0 0 2rem 2rem;
  font-size: 5.3rem;
}
@media only screen and (min-width: 600px) {
  .shopping-outerContainer > h1 {
    margin: 0 0 3rem 2rem;
    font-size: 5.6rem;
  }
}
.shopping-content {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.shopping-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.3rem;
  align-content: flex-start;
}
@media only screen and (min-width: 600px) {
  .shopping-content {
    gap: 1.6rem;
  }
  .shopping-grid {
    justify-content: flex-start;
    gap: 2rem;
  }
}
.shopping-noScroll {
  overflow: hidden;
}
