:root {
  --clr-1: beige;
  --clr-1-dark: rgb(217, 209, 179);
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.app {
  height: 100vh;
  background: skyblue;
}
