:root {
  --clr-text: black;
  --clr-text-2: white;
  --clr-1: beige;
  --clr-1-dark: rgb(217, 209, 179);
  --clr-2: rgb(15, 176, 15);
  --clr-2-dark: rgb(11, 146, 11);
  font-size: 58%;
  background: var(--clr-1-dark);
}
@media only screen and (min-width: 600px) {
  :root {
    font-size: 62.5%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  opacity: 0;
  transition: opacity 0.2s;
}

.app {
  height: 100vh;
  background: var(--clr-1-dark);
}
.app-button {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-2);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-text-2);
  cursor: pointer;
}
.app-button:active {
  background: var(--clr-2-dark);
}
@media (hover: hover) {
  .app-button:hover {
    background: var(--clr-2-dark);
  }
  .app-button:active {
    background: var(--clr-2);
  }
}
